{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block pagetitle %}Home{% endblock %}

{% block content %}
<div>
    <form>
        <form action="" method="post"> 
            <button name = "new" class = "newplaylistbutton">New Playlist</button> 
        </form>
    </form>
    <table id="playlists" class="styled-table table-striped">
        <thead>
            <tr>
                <th>ID</th> 
                <th>Name</th> 
                <th>Tracks</th> 
                <th>Duration</th> 
                <td></td>
            </tr>
        </thead>
        <tbody>
            {%for i in playlists%}
            <tr>
                <td>{{i['playlistId']}}</td>
                <td>{{i['name']}}</td>
                <td>{{i['songs']}}</td>
                <td>{{i['duration']}}</td>
                <td>
                    <form action = "" method="post">
                        <button name = "click" value = "{{i['playlistId']}}"> View </button>
                    </form>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function () {
    var table = $('#playlists').DataTable();
});
</script>
{% endblock %}