{% extends 'layout.html' %}

{% block title %}New Playlist{% endblock %}
{% block pagetitle %}New Playlist{% endblock %}

{% block content %}
<body>
    <div>
        <div class="register">
            <h1>New Playlist</h1>
            <form action="" method="post">
                <label for="firstName">
					<i class="fas fa-user"></i>
				</label>
                <input type="text" name="name" placeholder="Name" id="name" required>
                <label for="firstName">
					<i class="fas globe"></i>
				</label>
                <select name="status" required>
					{% for s in status %}
						<option value = "{{s}}"> {{s}}</option>
					{% endfor %}
				</select>
                <div class="msg">{{ msg }}</div>
                <input type="submit" value="Create">
            </form>
        </div>
    </div>
</body>

{% endblock %}