{% extends 'layout.html' %}

{% block title %}Playlist{% endblock %}
{% block pagetitle %}Playlist{% endblock %}

{% block content %}
<div class="playlistlayout">
    <div class="links">
        <a href="{{ url_for('playlist', playlist_id=playlistId)}}" class="active">Playlist</a>
        <a href="{{ url_for('songs', playlist_id=playlistId) }}" >Songs</a>
    </div>
    <div class = "playlist">
        <h1> {{name}} </h1>
        <form action="" method="post">
            <button name = "edit" > Edit </button>
        </form>
        <table id="playlist" class="styled-table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Release</th>
                <th>Duration</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for s in playlistsongs %}
                <tr>
                <td>{{ s['title'] }}</td>
                <td>{{ s['name'] }}</td>
                <td>{{ s['albumTitle'] }}</td>
                <td>{{ s['releaseDate'] }}</td>
                <td>{{ s['duration'] }}</td>
                <td>
                    <form action="" method="post">
                        <button name = "delete" value = "{{s['songId']}}"> Delete </button>
                    </form>
                </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
$(document).ready(function () {
    $('#playlist').DataTable({
        columns: [
          {searchable: true},
          {searchable: true},
          {searchable: true},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          null
        ],
        "lengthChange": false
    });
});
</script>
{% endblock %}