{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block pagetitle %}Home{% endblock %}

{% block content %}
<table class="styled-table"> 
    <thead>
        <tr>
           <th>ID</th> 
           <th>Name</th> 
           <th>Tracks</th> 
           <th>
            <a href="{{ url_for('newplaylist') }}"><i class="fas fa-home"></i>New</a>
           </th>
        </tr>
    </thead>
    <tbody>
        {%for i in playlists%}
        <tr >
                <td> <a href="{{ url_for('playlist', playlist_id= i['playlistId']) }}">{{i['playlistId']}} </a></td>
                <td>{{i['name']}}</td>
                <td>600</td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{% endblock %}