{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block pagetitle %}Home{% endblock %}

{% block content %}
<div>
    <table class="styled-table"> 
        <thead>
            <tr>
            <th>ID</th> 
            <th>Name</th> 
            <th>Tracks</th> 
            <th> 
                <a href="{{ url_for('newplaylist')}}" >New Playlist</a>
            </th>
            </tr>
        </thead>
        <tbody>
            {%for i in playlists%}
            <tr style="cursor: pointer;">
                <td>{{i['playlistId']}}</td>
                <td>{{i['name']}}</td>
                <td>{{i['songs']}}</td>
                <td><a href="{{ url_for('playlist', playlist_id=i['playlistId'])}}"> View </a></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{% endblock %}